# Core functionality - changes here should be rare!
/src/app.py                   @Sritam-K-Behera
/src/backend/database.py      @Sritam-K-Behera
/src/backend/routers/auth.py  @Sritam-K-Behera

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Sritam-K-Behera
